
body {
	font-size: 16px;
	color: #ffffff;
	background-color: #f56505;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/

#header-nav {
	background-color: #473f39;
	border-radius: 0;
	border: 0;
}
#logo-img {
	background: url('../images/cat_logo.png') no-repeat;
	width: 300px;
	height: 150px;
	margin: 40px 40px 30px 0px;
}
#webbing-img {
	background: url('../images/web_logo.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 5px 0px 10px 100px;
}
.navbar-brand {
	padding-top: 50px;
}
.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: #d9af25;
	font-size: 2.5em;
 	text-transform: uppercase;
 	font-weight: bold;
 	text-shadow: 5px 5px 5px #222;
 	margin-top: 0;
 	margin-bottom: 0;
 	line-height: 1;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.home-tile-brand a:hover, .home-tile-brand a:focus {
	text-decoration: none;
}
.navbar-brand p {
	color: #b6a8e0;
	text-transform: uppercase;
	font-size: .8em;
	margin-top: 15px;
}
.navbar-brand p span {
	vertical-align: middle;
}

/**  END HEADER  **/
.resizedTextbox {
	width: 100%;
	height: 40px;
	background-color: #dea973;
	font-size: 1.6em;
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: .7;
}
.Nbutton {
	top: 8px;
	left: 8px;
}
.Tbutton {
	top: 8px;
	right: 8px;
}
.Nbutton, .Tbutton {
	position: absolute;
	background-color: #d1c5c5;
	font-size: 1em;
	padding: 5px 5px;
	color: #712db5;
	width: 45%;
	opacity: .9;
	border-radius: 10px;
}
.nameInput {
	color: #0f13f7;
	font-size: 1.1em;
	font-style: italic; 
}
#nav-list {
	margin-top: -60px;
}
#nav-list a {
	color: #000000;
	text-align: center;
	margin-right: 20px;
}
#nav-list a:hover {
	background: #f5963d;
}
#nav-list a span {
	font-size: 1em;
}

/**  FOOTER  **/

.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #000000;
	border-top: 0;
}
.panel-footer div.row {
	margin-bottom: 35px;
}
#hours, #verbage {
	line-height: 1.5em;
}
#hours > span, #credits > span {
	font-size: 1.3em;
}
#verbage {
	font-style: italic;
}
#copyright {
	color: #4c592e;
	font-size: .8em;
}

/**  HOME PAGE  **/

.container .jumbotron {		
		box-shadow: 0 0 40px #000000;
		border: 5px solid: #000000;
}
#costume-tile, #houses-tile, #join-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15;
	position: relative;
	border: 2px solid #000000;
	overflow: hidden;
}
#costume-tile:hover, #houses-tile:hover, #join-tile:hover {
	box-shadow: 0 1px 10px 5px #000000;
}
#costume-tile {
	background: url('../images/what_char.png') no-repeat;
	background-position: center;
}
#houses-tile {
	background: url('../images/pick_house.png') no-repeat;
	background-position: center;
}
#join-tile {
	background: url('../images/join_img.png') no-repeat;
	background-position: center;
}
#costume-tile span, #houses-tile span, #join-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #dea973;
	color: #000000;
	opacity: .7;
}
#costume-tile div, #houses-tile div {
	position: absolute;
	top: 75px;
	left: 0;
	font-size: 4em;
	color: #000000;
}
#costume-tile p, #houses-tile p {
	position: absolute;
	top: 75px;
	right: 0; 
	font-size: 4em;
	color: #000000;
}
/**  HELP PAGE  **/
#awards-help div, #pass-help div, #choice-help div, #photo-help div, #treat-help div, #store-help div {
	font-size: 1.5em;
	color: #e3ba74
}
#awards-help p, #pass-help p, #choice-help p, #photo-help p, #treat-help p, #store-help {
	font-size: .9em;
	color: #000000;
}
/** END HELP PAGE  **/

/**   end home page    **/

#help-img {
	background: url('../images/help_icon.png') no-repeat;
	width: 40px;
	height: 40px;
	margin: 0px;
}
#home-img {
	background: url('../images/home_icon.png') no-repeat;
	width: 40px;
	height: 40px;
	margin: 0px;	
}
#neighbor-img {
	background: url('../images/neighbor_icon.png') no-repeat;
	width: 40px;
	height: 40px;
	margin: 0px;
}
#shop-img {
	background: url('../images/shop_icon.png') no-repeat;
	width: 40px;
	height: 40px;
	margin: 0px;
}
#awards-img {
	background: url('../images/awards_icon.png') no-repeat;
	width: 40px;
	height: 40px;
	margin: 0px;
}
#login-img {
	background: url('../images/login.png') no-repeat;
	width: 40px;
	height: 40px;
	margin: 0px;
}
#join-img {
	background: url('../images/join.png') no-repeat;
	width: 40px;
	height: 40px;
	margin: 0px;
}
#pick-img {
	background: url('../images/1_lg.png') no-repeat;
	width: 650px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	border-width: 5px;
	border-color: #000000;
}
#char-img {
	background: url('../images/what_char.png') no-repeat;
	width: 300px;
	height: 350px;	
	margin-top: 75px;
	border-width: 5px;
	border-color: #000000;
	margin-left: 40px;
}
#store-img {
	background: url('../images/store.png') no-repeat;
	width: 300px;
	height: 350px;	
	margin-top: 75px;
	border-width: 5px;
	border-color: #000000;
	margin-right: 40px;
}

/*   large devices only   */

@media (min-width: 1200px) {
	.container .jumbotron {
		background: url('../images/1_lg.png') no-repeat;
		height: 450px;
		margin-top: 15px;
	}
}

/*   medium devices only   */

@media (min-width: 992px) and (max-width: 1199px) {
	.container .jumbotron {
		background: url('../images/1_md.png') no-repeat;
		height: 330px;
		margin-top: 15px;
	}
}

/*   small devices only   */

@media (min-width: 768px) and (max-width: 991px) {
	.container .jumbotron {
		background: url('../images/1_sm.png') no-repeat;
		height: 200px;
		margin-top: 15px;
	}
	.navbar-brand {
	padding-top: 0px;
    }
    #nav-list {
	margin-top: 0px;
	}
    #join-tile {
	background: url('../images/join_img_sm.png') no-repeat;
	margin-top: 35px;
	}
}

/*   extra small devices only   */

@media (max-width: 767px) {
    .container .jumbotron {
	    <div class="jumbotron">     
 		<img src="../images/1_sm.png" alt="House pick image">;
		padding: 0px;
	}	
	#nav-list {
	font-size: 1em;
	padding-top: 10px;
	margin: 0 auto 0;
	width: 100px;
    }
    .navbar-brand h1 {
	font-size: 1.7em;
	padding-top: 0px;
	line-height: 0;
	position: absolute;
	margin-left: 45px
    }
    #costume-tile, #houses-tile, #join-tile {
    	width: 360px;
    	margin: 0 auto 15px;
    } 
    /*  FOOTER  */
    .panel-footer section {
    	margin-bottom: 30px;
    	text-align: center;
    }
    .panel-footer section:nth-child(3) {
    	margin-bottom: 0;
    }
    .panel-footer section hr {
    	width: 50%;
    }    
}
