

body {
	font-size: 16px;
	color: #ffffff;
	background-color: #f56505;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #473f39;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url('../images/cat_logo.png') no-repeat;
	width: 300px;
	height: 150px;
	margin: 40px 40px 30px 0px;
}

#webbing-img {
	background: url('../images/web_logo.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 5px 0px 10px 100px;
}
.navbar-brand {
	padding-top: 50px;
}

.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: #d9af25;
	font-size: 2.5em;
 	text-transform: uppercase;
 	font-weight: bold;
 	text-shadow: 5px 5px 5px #222;
 	margin-top: 0;
 	margin-bottom: 0;
 	line-height: 1;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbarbrand p {
	color: #ffffff;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
}
.navbar-brand p span {
	vertical-align: middle;
}
#about-img {
	background: url('../images/about_icon.png') no-repeat;
	width: 40px;
	height: 40px;
	margin: 0px;
}
#collector-img {
	background: url('../images/collector_icon.png') no-repeat;
	width: 40px;
	height: 40px;
	margin: 0px;
}
#help-img {
	background: url('../images/help_icon.png') no-repeat;
	width: 40px;
	height: 40px;
	margin: 0px;
}
#home-img {
	background: url('../images/home_icon.png') no-repeat;
	width: 40px;
	height: 40px;
	margin: 0px;
}
#neighbor-img {
	background: url('../images/neighbor_icon.png') no-repeat;
	width: 40px;
	height: 40px;
	margin: 0px;
}
#shop-img {
	background: url('../images/shop_icon.png') no-repeat;
	width: 40px;
	height: 40px;
	margin: 0px;
}
#trickster-img {
	background: url('../images/trickster_icon.png') no-repeat;
	width: 40px;
	height: 40px;
	margin: 0px;
}
#awards-img {
	background: url('../images/awards_icon.png') no-repeat;
	width: 40px;
	height: 40px;
	margin: 0px;
}
#login-img {
	background: url('../images/login.png') no-repeat;
	width: 40px;
	height: 40px;
	margin: 0px;
}
#join-img {
	background: url('../images/join.png') no-repeat;
	width: 40px;
	height: 40px;
	margin: 0px;
}
#nav-list {
	margin-top: -20px;
}
#nav-list a {
	color: #000000;
	text-align: middle;
	margin-right: 20px;
}
#nav-list a:hover {
	background: #f5963d;
}
#nav-list a span {
	font-size: 1.8em;
}